<app-navbar></app-navbar>
<main>
  
  <section class="pt-20 pb-10">
    
      <div class="mb-8">
        <div class="text-2xl font-semibold text-center">
         <div
         class="absolute top-0 w-full h-full "
          style="background-image: url(./assets/img/estreno-cine.png); background-size: 100%; "
        ></div>
         Peliculas
        </div>
      </div>
      <div class="flex flex-wrap">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe>
      </div>



      <br>
      <br>
      <br>



  </section>
  <form action="#">
    <div class="text-align w-1/2 pr-20">
    <div class="container">
        <div class="row ">
            <div class="col-xs-12" >
                <h3>Titulo</h3>
                <b>{{movFinal.titleFilm}}</b>
            </div>
        </div>
<br>
        <div class="row ">
            <div class="col-xs-12" >
                <hr>
                <h3>Discripcción</h3>
                <b>{{movFinal.descriptionFilm}}</b>
            </div>
<br>
        </div>
        <div class="row ">
            <div class="col-xs-12" >
                <hr>
                <h3>Año de lanzamiento</h3>
                <b>{{movFinal.releaseDateFilm}}</b>
            </div>
        </div>
<br>
        <div class="row ">
            <div class="col-xs-8" >
                <hr>
                <h3>Actores</h3>
                <b>{{actorInformation()}} </b>
            </div>
        </div>
<br>
        <div class="row ">
            <div class="col-xs-12" >
                <hr>
                <h3>Directores</h3>
                <b>{{DirectorInformation()}}</b>
            </div>
        </div>
<br>
        <div class="row ">
            <div class="col-xs-12">
                <hr>
                <h3>Categoria</h3>
                <b>{{categoryInformation()}} </b>
                <hr>
            </div>
        </div>
    </div>
    </div>
</form>
<br>
<br>
    <div class="flex w-2/6 mx-auto mt-1">
        <button
                class="bg-blue-600 text-white active:bg-gray-700 text-sm font-bold uppercase py-3 rounded hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                type="button"
                style="transition: all 0.15s ease 0s;"
        >
            Regresar al catalogo
        </button>

    </div>
</main>
<app-footer></app-footer>
