.btn-action-dislike:hover {
  background-color: #dadada;
}

.img-selected {
  border: 12px solid #2563eb;
}
.center {
  display: flex;
  justify-content: center;
}

form {
  position: relative;
  list-style-type:armenian;
}

.text-align
{
  position: relative;
  left: 340px;
}

.video {
  position: relative;
}