<app-navbar></app-navbar>

<main>

    <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
            <div class="mb-8">
                <div class="text-2xl font-semibold text-center">
                    Gestión de Ofertas
                </div>
            </div>


            <div class="centerTest">
                <form (submit)="onSubmit()" #entityForm="ngForm">
                    <mat-form-field [style.width.%]=100>
                        <input matInput placeholder="Puntos a Agregar " name="points" required
                               [(ngModel)]="entityData.addPoints">
                    </mat-form-field>
                    <br>
                    <mat-form-field [style.width.%]=100>
                        <input matInput placeholder="Puntos a Restar " name="subPoints" required
                               [(ngModel)]="entityData.subPoints">
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" [style.width.%]=100>
                        <mat-label>Valida Hasta</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="entityData.deadlineOffer" name="dateVal">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="example-full-width" appearance="fill" [style.width.%]=100>
                        <mat-label>Descripcción de la Oferta</mat-label>
                        <textarea matInput placeholder="" name="descriptionFilm" [(ngModel)]="entityData.descriptionOffer" ></textarea>
                    </mat-form-field>
                    <br>
                    <ng-container *ngIf="isEditMode; else elseTemplate">
                        <button mat-button color="primary">Actualizar Registro</button>
                        <a mat-button color="warn" (click)="cancelEdit()">Cancelar</a>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <button mat-button color="primary">Agregar Nueva Oferta</button>
                    </ng-template>

                </form>

            </div>


            <div class="row h-100 justify-content-center align-items-center">


            </div>


            <hr>
            <br>
            <div fxLayout fxLayoutAlign="text-center center">
                <mat-form-field fxFlex="40%">
                    <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filtrar por Nombre">
                </mat-form-field>
            </div>

            <!--  displayedColumns = ['description','addPoints','subPoints','date'']; -->
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="description"> Descripccion Oferta</th>
                    <td mat-cell *matCellDef="let element"> {{element.descriptionOffer.split('$$$$')[0].slice(0, 50)+"(...)"}} </td>
                </ng-container>
                <ng-container matColumnDef="addPoints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="addPoints">Puntos Agregar</th>
                    <td mat-cell *matCellDef="let element"> {{element.addPoints}} </td>
                </ng-container>
                <ng-container matColumnDef="subPoints">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="subPoints">Puntos Restar</th>
                    <td mat-cell *matCellDef="let element"> {{element.subPoints}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="date">Fecha Máxima</th>
                    <td mat-cell *matCellDef="let element"> {{ element.deadlineOffer}} </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="estado">Estado</th>
                    <td mat-cell *matCellDef="let element"> {{ element.stateOffer ? "Activa":"Inactiva"}} </td>
                </ng-container>
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Editar</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0)" (click)="editEntity(element)">Editar   </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="information">
                    <th mat-header-cell *matHeaderCellDef> Informacion</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0)" (click)="info(element)">Informacion   </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let element">
                        <a href="javascript:void(0)" (click)="deleteEntity(element.id)">Eliminar</a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 12, 15, 20]">
            </mat-paginator>


        </div>
    </section>

</main>
