<app-navbar></app-navbar>

<main>

    <section class="pt-20 pb-48">
        <div class="container mx-auto px-4">
            <div class="mb-8">
                <div class="text-2xl font-semibold text-center">
                    Catálogo de Películas
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 my-12 py-6 px-4"
                     *ngFor="let movie of listMovies; let index = index">
                    <div class="px-6">
                        <img
                                alt="..."
                                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-best-disney-movies-finding-nemo-everett-1587424583.jpg"
                                class="img-selected border-solid border-4 cursor-pointer shadow-lg rounded-full max-w-full mx-auto"
                                [ngClass]="{'img-selected': movie.isSelected === true}"
                                style="max-width: 120px;"
                                (click)="likeVideogame(index)"
                        />
                        <div class="pt-6 text-center">
                            <p class="mt-1 text-sm text-gray-500 uppercase font-semibold">
                                {{movie.titleFilm}}
                            </p>
                            <p>
                                {{movie.descriptionFilm}}
                            </p>
                            <h5 class="text-xl font-bold">Año {{movie.releaseDateFilm }}</h5>
                            <div class="mt-6">

                                <a [routerLink]="['../showMovies',movie.id ]"
                                        class=" text-black w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                        (click)="dislikeVideogame(index)"
                                >
                                    <i class="fas fa-solid fa-eye"></i></a
                                >
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </section>


</main>

