<main>
  <section class="absolute w-full h-full">
    <div
      class="absolute top-0 w-full h-full bg-gray-900"
      style="background-image: url(./assets/img/register_bg_2.png); background-size: 100%; background-repeat: no-repeat;"
    ></div>
    <div class="container mx-auto px-4 h-full">
      <div class="flex content-center items-center justify-center h-full">
        <div class="w-full lg:w-8/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-gray-300 border-0"
          >
            <div class="flex-auto px-4 lg:px-10 pt-4 pt-0">
              <form class="my-6" [formGroup]="formRegister">
                <div class="relative w-full">
                  <label
                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  >Correo</label
                  ><input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Correo"
                  [formControlName]="'correo'"
                  style="transition: all 0.15s ease 0s;"
                />
                </div>
                <div class="relative w-full my-6">
                  <label
                    class="block uppercase text-gray-700 text-xs font-bold mb-2"
                  >Nombre del usuario</label
                  ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Nombre del usuario"
                  [formControlName]="'nombre_usuario'"
                  style="transition: all 0.15s ease 0s;"
                /></div>

                <div class="flex my-6">

                  <div class="block w-1/2 pr-4">
                    <label
                      class="uppercase text-gray-700 text-xs font-bold mb-2"
                    >País</label
                    ><input
                    type="text"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="País"
                    [formControlName]="'pais'"
                    style="transition: all 0.15s ease 0s;"
                  />
                  </div>

                  <div class="block w-1/2 pl-4">
                    <label
                      class="uppercase text-gray-700 text-xs font-bold mb-2"
                    >Fecha de nacimiento</label
                    ><input
                    mat-input
                    type="date"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Fecha de nacimiento"
                    [max]="maxDateRegister"
                    [formControlName]="'fecha_nacimiento'"
                    style="transition: all 0.15s ease 0s;"
                  />
                  </div>
                </div>

                <div class="flex my-6">
                  <div class="w-1/2 pr-4">
                    <label
                      class="uppercase text-gray-700 text-xs font-bold mb-2"
                    >Contraseña</label
                    ><input
                    type="password"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Contraseña"
                    [formControlName]="'password'"
                    style="transition: all 0.15s ease 0s;"
                  />
                  </div>

                  <div class="w-1/2 pl-4">
                    <label
                      class="uppercase text-gray-700 text-xs font-bold mb-2"
                    >Confirmar contraseña</label
                    ><input
                    type="password"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Confirmar contraseña"
                    [formControlName]="'confirm_password'"
                    style="transition: all 0.15s ease 0s;"
                  />
                  </div>
                </div>

                <div class="text-center mt-8">
                  <button
                    class="btn-register bg-gray-900 text-white active:bg-gray-700 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                    [disabled]="formRegister.invalid"
                    (click)="registerUser()"
                  >
                    Registrarme
                  </button>
                </div>
              </form>
            </div>
            <div class="flex flex-wrap">
              <div class="w-full text-right">
                <div class="text-center mb-6">
                  <a href="./auth/signin" class="font-bold hover:underline text-sm">Ya tengo una cuenta</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </section>
</main>
