<app-navbar></app-navbar>
<main>
            <div class="flex-auto px-4 lg:px-10 pt-4 pt-0">
              <div class="flex my-6">
                <div class="w-1/2 pr-4">
                  <label
                    class="uppercase text-gray-800 text-xs font-bold mb-2"
                  >Nombre</label
                  ><input
                  type="string"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Ingrese su nombre"
                  style="transition: all 0.15s ease 0s;"
                />
                </div>

                <div class="w-1/2 pl-4">
                  <label
                    class="uppercase text-gray-700 text-xs font-bold mb-2"
                  >Apellido</label
                  ><input
                  type="string"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Ingrese su apellido"
                  style="transition: all 0.15s ease 0s;"
                />
                </div>
              </div>

              <div class="relative w-full">
                <label
                  class="block uppercase text-gray-800 text-xs font-bold mb-2"
                >Correo</label
                ><input
                type="email"
                class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                placeholder="Ingrese su correo electronico"
                style="transition: all 0.15s ease 0s;"
              />
              </div>

                <div class="relative w-full my-6">
                  <label
                    class="block uppercase text-gray-800 text-xs font-bold mb-2"
                  >Nombre de usuario</label
                  ><input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                  placeholder="Nombre su nombre usuario"

                  style="transition: all 0.15s ease 0s;"
                /></div>

                <div class="flex my-6">

                  <div class="block w-1/2 pr-4">
                    <label
                      class="uppercase text-gray-800 text-xs font-bold mb-2"
                    >Contraseña</label
                    ><input
                    type="password"
                    class="border-0 px-3 py-3 placeholder-gray-400 text-gray-700 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                    placeholder="Ingrese su contraseña"

                    style="transition: all 0.15s ease 0s;"
                  />
                  </div>
                </div>
                <div class="flex w-4/8 mx-auto mt-8">
                <div class="text-center mt-8">
                  <button
                    class="bg-red-500 text-white active:bg-gray-700 text-sm font-bold uppercase px-8 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                    type="button"
                    style="transition: all 0.15s ease 0s;">
                    Darse de baja
                  </button>
               
                    
                </div>
                <div class="text-center mt-8">
                  <button
                  class="bg-blue-600 text-white active:bg-gray-700 text-sm font-bold uppercase px-8 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                  >Actualizar
                  </button>
                </div>
                </div>
            </div>
</main>
<app-footer></app-footer>
